@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --very-dark-desaturated-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  --very-dark-grayish-blue: hsl(237, 12%, 33%);
  --dark-grayish-blue: hsl(240, 6%, 50%);
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --light-grayish-blue: hsl(240, 5%, 91%); }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-size: 10px;
  font-family: "Kumbh Sans", sans-serif; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(var(--soft-violet), var(--soft-blue)); }

.content {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  height: 88vh;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center; }
  .content .visual {
    width: 100%;
    height: 100%;
    display: none; }
  .content .bg__img {
    background-image: url(images/illustration-woman-online-mobile.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -10px;
    height: 27vh;
    width: 100%;
    display: block; }
  .content .bg__img-shadow {
    background-image: url(images/bg-pattern-mobile.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vh;
    width: 255px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 20px;
    left: 0;
    right: 0;
    text-align: center;
    display: block; }
  .content .faq {
    z-index: 2;
    width: 100%;
    height: 90%;
    padding: 4rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    .content .faq__heading {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
      padding-bottom: 10px; }
    .content .faq__body {
      font-weight: 400;
      font-size: 0.8rem; }
      .content .faq__body .faq__options {
        padding: 12px 0px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--light-grayish-blue);
        cursor: pointer; }
        .content .faq__body .faq__options .question-section {
          display: flex;
          justify-content: space-between;
          flex-direction: column; }
          .content .faq__body .faq__options .question-section .question:hover {
            color: var(--soft-red); }
          .content .faq__body .faq__options .question-section .arrow {
            height: 10px;
            width: auto;
            position: absolute;
            right: 15%;
            transition: 0.4s; }
        .content .faq__body .faq__options small {
          display: none;
          width: 90%;
          padding-top: 4px;
          transition: 0.4s; }
      .content .faq__body .active p {
        font-weight: 600;
        transition: 0.4s; }
      .content .faq__body .active small {
        display: block;
        color: var(--dark-grayish-blue);
        width: 80%;
        padding-top: 6px;
        transition: 0.4s; }
      .content .faq__body .active img {
        transform: rotate(180deg);
        transition: 0.4s; }

@media screen and (min-width: 800px) {
  .content {
    padding: 20px;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    height: 70vh; }
    .content .visual {
      display: flex;
      justify-content: center;
      align-items: center; }
      .content .visual .visual-box {
        background-image: url(/images/illustration-box-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 150px;
        width: 150px;
        margin-left: -350px;
        margin-top: 40px;
        position: absolute; }
      .content .visual .visual-bg {
        background-image: url(images/illustration-woman-online-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-left: -80px;
        height: 350px;
        width: 350px; }
      .content .visual .visual-shadow {
        background-image: url(/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        margin-left: -50px;
        height: 350px;
        width: 350px; }
    .content .bg__img {
      display: none; }
    .content .bg__img-shadow {
      display: none; } }
